<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.login">
	<application>
		<meta-data
				android:name="com.login.core.GlobalConfiguration"
				android:value="ConfigModule"/>

		<activity android:name="com.login.mvvm.view.LoginActivity"
				  android:label="登录"
				  android:screenOrientation="portrait"/>
	</application>
</manifest>
